<?xml version="1.0" encoding="utf-8"?>
<resources>
    <!-- Battery -->
    <string name="config_batterymeterBoltPath" translatable="false">
        M6.266 7.453L4.25 11.25h1.5v3.25l2-3.75h-1.5l.016-3.297z
    </string>
    <string name="config_batterymeterPowersavePath" translatable="false">
        M6 9v4 M4 11h4
    </string>
</resources> 