<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.schnettler.outline"
    android:versionCode="1"
    android:versionName="1.0">

    <application android:label="@string/ThemeName"
        android:icon="@drawable/icon">

        <meta-data android:name="Substratum_Theme" android:value="@string/ThemeName"/>
        <meta-data android:name="Substratum_Author" android:value="@string/ThemeAuthor"/>
        <meta-data android:name="Substratum_Legacy" android:value="true" />

    </application>

</manifest>